<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Add all necessary permissions -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:label="mess_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Add these intent filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="upi" />
            </intent-filter>
            
            <!-- Add your custom callback scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="messapp"/> <!-- Your custom scheme -->
            </intent-filter>
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Enhanced queries section for better UPI app detection -->
    <queries>
        <!-- UPI Intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
        
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="com.sbi.upi" />
        <package android:name="com.snapwork.hdfc" />
        <package android:name="com.csam.icici.bank.imobile" />
        <package android:name="com.axis.mobile" />
        <package android:name="com.unionbank.ebanking" />
        <package android:name="com.rbl.rblmobilebanking" />
        <package android:name="com.konylabs.kotak" />
        <package android:name="com.mahindra.bank.mobilebanking" />
        <package android:name="com.fss.indianbank" />
        <package android:name="com.fss.pnb" />
        <package android:name="com.mobikwik_new" />
        <package android:name="com.freecharge.android" />
        <package android:name="com.myairtelapp" />
        <package android:name="com.jio.myjio" />
        <package android:name="com.whatsapp" />

        <!-- Process text intent -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>